<app-user-header></app-user-header>



<div class="login-form">
    <div class="container pd-30">
        <div class="row">
            <div class="col-12 pl-0 pr-0">
                <div class="box-shadow rounded o-hidden">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <header>Invite User</header>
                            <div  class="loginWrapper mt-3 mb-3">
                                <div class="text-center">
                                    <h2>Create the Sub User Login Details</h2>                                 
                                </div>
                              
                                <div *ngIf="checkInvite==true"class="text-center">
                                    <h2>{{subUser}}</h2>                                 
                                </div>
                                <form [formGroup]="loginform" (ngSubmit)="onSubmit()" autocomplete="off">
                                    <div class="login-input">
                                        <label for="Email">User Name</label>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        <input class="form-control" type="text" id="loginemail"
                                            formControlName="subUsername" optionLabel="text" autocomplete="off" />
                                    </div>
                                    <div class="login-input">
                                        <label for="Email">Email</label>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        <input class="form-control" type="text" id="loginemail" formControlName="email"
                                            optionLabel="text" autocomplete="off" />
                                    </div>
                                    <div *ngIf="check==false">
                                        <div class="login-input">
                                            <label for="Password">Password</label>
                                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                            <input class="form-control" type="password" id="loginpassword"  
                                                formControlName="password" optionLabel="text"
                                                autocomplete="off" />
                                        </div>
                                    </div>
                                    <!-- <a class="forgot-password"  (click)="openEditModal(forgotpass)">Forgot password?</a> -->
                                    <div *ngIf="check1==false">
                                        <div class="login-footer">
                                            <button class="btn login-btn">Check and Invite User</button>
                                        </div>
                                    </div>
                                    <div *ngIf="invite==false">
                                        <div clasc="login-footer">
                                            <button class="btn login-btn" >Invite User</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-user-footer></app-user-footer>