<div class="screens screens-slider-bg">
    <div class="container-fluid">
        <div class="section-heading text-center">
            <h6 class="text-uppercase">Screens</h6>
            <h2>See what’s included in the App</h2>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="assets/images/1.jpg" class="img-fluid image-set">
                <h4>Home</h4>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/2.jpg" class="img-fluid image-set">
                <h4>Login </h4>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/3.jpg" class="img-fluid image-set">
                <h4>Sign up </h4>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/4.jpg" class="img-fluid image-set">
                <h4>Company Register</h4>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/5.jpg" class="img-fluid image-set">
                <h4>Company Id</h4>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/6.jpg" class="img-fluid image-set">
                <h4>Dashboard</h4>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/7.jpg" class="img-fluid image-set">
                <h4>Groups</h4>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/8.jpg" class="img-fluid image-set">
                <h4>Account Groups</h4>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/9.jpg" class="img-fluid image-set">
                <h4>Ledger</h4>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>