<div class="features">

    <img src="assets/images/about-style.png" alt="" class="feature_style">
    <div class="container">
        <div class="section-heading text-center">
            <h6 class="text-uppercase">FEATURES</h6>
            <h2><strong>What we</strong> provide</h2>
        </div>
    </div>

    <div class="container-fluid pl-5 pr-5">
        <div class="row">
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-1">
                            <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Easy to use</h2>
                            <p class="text">easy to use on Mobile, Tab, Laptop or Computer.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-2">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Single login for multiple entity</h2>
                            <p class="text">Open multiple companies/entities/firm in single login</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-3">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Make Invoice easily</h2>
                            <p class="text">Make Invoice on the go and send it through WhatsApp or email.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-4">
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Access from anywhere</h2>
                            <p class="text">Maintain your accounts from any where in the world.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-5">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Work Simultaneously on multiple device</h2>
                            <p class="text">Maintain your accounts on multiple device at a same time.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-6">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Freedom from worry for loss of data</h2>
                            <p class="text">Cloud storage of data gives freedom from worry of mobile or device theft or
                                format.</p>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <a class="view-more" routerLink="/featurespage" routerLinkActive="active">View More</a>
        </div>

    </div>

</div>