<mat-dialog-content class="modal-set">
    <div class="modal-header">
        <h4 class="modal-title">BUY PLAN</h4>
        <button type="button" class="close" aria-label="Close" (click)="closebuyplan()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body done-modal">
        <h1>Your Plan has been  expired, You need to buy now ...</h1>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">    
    <button class="btn footer-btn" (click)="backdashboard()">BACK</button>
    <button class="btn footer-btn" (click)="buyplan()">BUY PLAN</button>
</mat-dialog-actions>