<app-header></app-header>
<div class="title-backgournd">
    <app-title heading1="How It Works" heading2="HOW IT WORKS"></app-title>
</div>

<div class="how-it-work pdtb-100">   
    <div class="container">
        <div class="row mt-5 mb-5 d-flex justify-content-center align-items-center row-reverse">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <img src="assets/images/01.png" class="img-fluid">
            </div>
            <div class="col-sm">
                <div class="dtlsBox">
                    <span>01</span>
                    <h4>Go to Packages/Plans page<br> and Buy plan</h4>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row mt-5 mb-5 d-flex justify-content-center align-items-center">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <div class="dtlsBox">
                    <span>02</span>
                    <h4>After purchase package you have to create account click on signup button</h4>
                </div>
            </div>
            <div class="col-sm">
                <img src="assets/images/02.png" class="img-fluid">
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row mt-5 mb-5 d-flex justify-content-center align-items-center row-reverse">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <img src="assets/images/03.png" class="img-fluid">
            </div>
            <div class="col-sm">
                <div class="dtlsBox">
                    <span>03</span>
                    <h4>Enter Email id or Password for Login your account</h4>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row mt-5 mb-5 d-flex justify-content-center align-items-center">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <div class="dtlsBox">
                    <span>04</span>
                    <h4>After login you have to add company click on add company button & fill your company details</h4>
                </div>
            </div>
            <div class="col-sm">
                <img src="assets/images/004.png" class="img-fluid">
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row mt-5 mb-5 d-flex justify-content-center align-items-center row-reverse">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <img src="assets/images/04.png" class="img-fluid">
            </div>
            <div class="col-sm">
                <div class="dtlsBox">
                    <span>05</span>
                    <h4>Click on eye icon for go to dashboard</h4>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row mt-5 mb-5 d-flex justify-content-center align-items-center">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <div class="dtlsBox">
                    <span>06</span>
                    <h4>Dashboard</h4>
                </div>
            </div>
            <div class="col-sm">
                <img src="assets/images/05.png" class="img-fluid">
            </div>
            <div class="col-sm-1"></div>
        </div>

    </div>
</div>

<app-footer></app-footer>
