<app-admin-header></app-admin-header>
<div id="wrapper">
    <!-- Sidebar -->
    <!-- <app-admin-menu></app-admin-menu> -->
    <div id="content-wrapper">
        <div class="container-fluid">
           <div class="row">
                <div class="col-sm-12 set-line  mt-30">
                    <h2 class=" title-name-set" >
                        USERS 
                    </h2>
                </div>
            </div>
            <div class="row summary-box">
                <div class="col-xl-3 col-sm-6 mb-4">
                    <div class="card  o-hidden h-80">
                        <div class="card-body" routerLink="/admin-userdetail">
                            <div class="card-body-icon">
                                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                            </div>
                            <div class="mr-5 card-name"  >USER DETAILS</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 set-line">
                    <h2 class="title-name-set" >
                        MASTER ACCOUNT 
                    </h2>
                </div>
            </div>
            <div class="row summary-box">
                <div class="col-xl-3 col-sm-6 mb-4">
                    <div class="card  o-hidden h-80">
                        <div class="card-body"  routerLink="/admin-units">
                            <div class="card-body-icon">
                                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                            </div>
                            <div class="mr-5 card-name" >UNIT LIST</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-4">
                    <div class="card  o-hidden h-80">
                        <div class="card-body"  routerLink="/admintaxes">
                            <div class="card-body-icon">
                                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                            </div>
                            <div class="mr-5 card-name" >TAXABLE</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-4">
                    <div class="card  o-hidden h-80">
                        <div class="card-body"  routerLink="/admin-accounts">
                            <div class="card-body-icon">
                                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                            </div>
                            <div class="mr-5 card-name" >ACCOUNT GROUP</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
<app-admin-footer></app-admin-footer>