<app-user-header></app-user-header>
<div id="wrapper">
    <!-- Sidebar -->
    <app-user-menu></app-user-menu>
    <div id="content-wrapper" (click)="openbuyplaneModal()">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/payment">Voucher</a>
                </li>
                <li class="breadcrumb-item active">Create Payment</li>
            </ol> -->
            <!-- =========================================================================================== -->
            <ng-template #paymentmodal let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Payment</h4>
                    <button type="button" class="close" aria-label="Close" routerLink="/admin/payment" routerLinkActive="active" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body header-filed">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <mat-form-field class="width-set">
                                    <input matInput [matDatepicker]="voucherdate" [min]="current_periad_startdate" [max]="current_periad_enddate"  placeholder="Voucher Date" [(ngModel)]="payment.invoice_date">
                                    <mat-datepicker-toggle matSuffix [for]="voucherdate"></mat-datepicker-toggle>
                                    <mat-datepicker #voucherdate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="stock_group" class="text-bold">Choose Ledger</label>
                                <div class="loader_setAll">
                                    <circle-progress *ngIf = "loader" [percent]="99"
                                            [percent]="99" 
                                            [radius]="20"
                                            [space]="2"
                                            [backgroundPadding]="0"
                                            [outerStrokeWidth]="3"
                                            [innerStrokeWidth]="1"
                                            [outerStrokeColor]="'#30304b'"
                                            [innerStrokeColor]="'#30304b80'"
                                            [animation]="true"
                                            [showSubtitle]="false"
                                            [titleFontSize]="8"
                                            [unitsFontSize]="8"
                                            [animationDuration]="500" >
                                    </circle-progress>
                                </div>
                                <ng-select  *ngIf = "!loader" id="selectLedger" bindLabel="name"
                                placeholder="Select Ledger"
                                [(ngModel)]="ledger"
                                value="-1"
                                appendTo="body"
                                [disabled]="ledgerList == ''"
                                (change)="getLedgerData(ledger)"
                                [searchable]="true">
                                <ng-option [value]="ledger" *ngFor="let ledger of ledgerList" >{{ledger.name}}</ng-option>
                                <ng-template ng-header-tmp>
                                    <div class="error-msg" (click)="openLedgerAddModal()"  >
                                        <h4>Create a New Ledger.</h4>
                                    </div>
                                </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="stock_group" class="text-bold">Paid In (through bank/cash)</label>
                                <ng-select id="selectLedger" bindLabel="name"
                                placeholder="Paid In "
                                [(ngModel)]="receiveledger"
                                value="-1"
                                appendTo="body"
                                [disabled]="ledgerBankList == ''"
                                (change)="getbankLedgerData(receiveledger)"
                                [searchable]="true">
                                <ng-option [value]="receiveledger" *ngFor="let receiveledger of ledgerBankList" >{{receiveledger.name}}</ng-option>
                                </ng-select>
                                <div class="error-msg" (click)="openLedgerAddModal()"  *ngIf="ledgerBankList == ''">
                                    <h4>Create a Cash or Bank Ledger.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="stock_group" class="text-bold">Enter Amount</label>
                                <input class="form-control" type="number" pattern="^\s*(?=.*[0-9]*)\d*(?:\.\d{1,2})?\s*$" [(ngModel)]="payment.total_amount"  id="amount" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="forn-group mt-10">
                                    <label class="text-bold" for="Narration">Narration</label>
                                    <textarea class="form-control text-font rounded-0"  [(ngModel)]="payment.narration" id="Narration" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn footer-btn" [disabled]="!payment.ledger_id || !payment.total_amount || !payment.invoice_date || !payment.receive_id " (click)="done(createinvoice)" >SAVE</button>
                    <!-- <button type="button" class="btn footer-btn"  routerLink="/payment" routerLinkActive="active" (click)="d('Cross click')">CANCEL</button> -->
                </div>
            </ng-template>
            <!-- =========================================================================================== -->
            <ng-template #createinvoice let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">CONFIRMATION</h4>
                    <button type="button" class="close" aria-label="Close" routerLink="/admin/payment" routerLinkActive="active" (click)="d('Cross click')">
                       
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body done-modal">
                    <h1>Are you sure want to create this Payment Invoice.</h1>
                </div>
                <div class="modal-footer">
                    <button class="btn footer-btn" [disabled]="clicked" (click)="genrateVoucher()">YES</button>
                    <button class="btn footer-btn"  routerLink="/admin/payment" routerLinkActive="active"  (click)="c('close')">CANCEL</button>
                </div>
            </ng-template>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
<app-user-footer></app-user-footer>