<app-user-header></app-user-header>
<div id="wrapper">
    <!-- Sidebar -->
    <app-user-menu></app-user-menu>
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Master Account</li>
            </ol>
            <div class="masteraccount-form">
                <div class="container-fluid">
                    <div class="loader_setAll">
                        <circle-progress *ngIf = "loader" [percent]="99" >
                        </circle-progress>
                    </div>
                    <form>
                        <div class="table-responsive" *ngIf = "!loader">
                            <table class="table" [mfData]="accountlist" #mf="mfDataTable" [mfRowsOnPage]="20">
                                <thead class="table-header">
                                    <tr>
                                        <th><mfDefaultSorter by="id">Number</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="uqc">Account Name</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="type">Account Type</mfDefaultSorter></th>
                                    </tr>
                                </thead>
                                <tbody class="mb-20 table-body">
                                    <tr *ngFor="let account of mf.data; let i = index;">
                                        <td>{{i+1}}</td>
                                        <td>{{account.name}}</td>
                                        <td>
                                            <span *ngIf="account.type == 'dr'">Debit</span>
                                            <span *ngIf="account.type == 'cr'">Credit</span>
                                        </td>
                                    </tr>
                                </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                            </table>   
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-user-footer></app-user-footer>