<mat-dialog-content class="modal-set">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> MESSAGE</h4>
        <button type="button" class="close" aria-label="Close" (click)="closemodal()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body done-modal header-filed">
            <h1>Invalid URL..!   Please Enter Valid URL.</h1>
         </div>
    </div>
</mat-dialog-content>
<!-- <mat-dialog-actions class="modal-footer">
    <button type="button" class="btn footer-btn" routerLink="/home" routerLinkActive="active" (click)="d('Cross click')">OK</button>
</mat-dialog-actions> -->

