.logo{
    max-width: 230px;
    margin: auto;
    margin-bottom: 10px;
}

.login-input {
    margin-bottom: 20px;
    position: relative;
}

.login-input .fa {
    position: absolute;
    bottom: 13px;
    left: 15px;
    font-size: 16px;
}
.heading {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.form-control {
    height: 40px;
    padding-left: 40px;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
}
.login-btn {
    font-family: "Gilroy-Light";
    color: #ffffff;
    background: #1441EB;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    padding: 8px 30px;
    border-radius: 6px;
    margin: 6% 0 0 0;
    float: right;
}
.otp-btn {
    text-transform: uppercase !important;
    letter-spacing: 0.8px;
    padding: 5px 25px !important;
    font-family: "Gilroy-ExtraBold";
    background-color: #ffa8a8;
    color: #000 !important;
    border-radius: 20px;
    font-size: 12px;
    margin: 0px 3px 0 0;
}
.otp-input-set {
    padding: 0px 16px;
    font-size: 16px !important;
    letter-spacing: 1px;
    font-weight: 600;
}
.login-form {
    height: 90vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    box-shadow: 0 0px 20px #dcdcdc;
    background-color: #ffffff;
    border-radius: 6px;
    font-family: 'Sofiapro-Light';
    padding: 30px 20px;
    overflow: hidden;
    clear: both;
}

.loginWrapper h2{
    text-align: center;
    font-family: "sofiaPro-Bold";
    font-size: 1.3rem;
    margin: 10px 0;
}

.forgot-password {
    margin-top: 15px;
    display: inline-block;
    color: #fe2b2b !important;
}

.conformpass {
    font-family: "Gilroy-ExtraBold";
    font-size: 23px !important;
    text-align: center !important;
    margin-bottom: 40px !important;
}
::ng-deep aw-wizard-step,
aw-wizard-completion-step {
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

::ng-deep.modal-content {
    width: 80% !important;
    margin: auto;
}

.back-btn {
    font-family: "Gilroy-Light";
    color: #ffffff;
    background: #263238cc;
    font-size: 16px;
    text-transform: uppercase !important;
    letter-spacing: 0.8px;
    padding: 7px 40px;
    border-radius: 30px;
    border: none;
}

.back-btn:focus {
    outline: none;
}

.active_box {
    padding: 0;
}

.active_box li {
    display: inline-block;
    width: 33%;
    height: 2px;
    background: #ccc;
    position: relative;
}

.dote-1 {
    width: 15px;
    height: 15px;
    background: rgb(110, 110, 110);
    display: block;
    border-radius: 50px;
    position: absolute;
    top: -5px;
}

.dote-2 {
    width: 15px;
    height: 15px;
    background: rgb(110, 110, 110);
    display: block;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    left: 50%;
}

.dote-3 {
    width: 15px;
    height: 15px;
    background: rgb(110, 110, 110);
    display: block;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    right: 0;
}

.active-dote {
    background: #38ef38;
}

.back-home{
    font-family: "Gilroy-Light";
    margin-bottom: 15px;
}

.back-home a{
    color: #1441EB;
}

.back-home svg{
    position: relative;
    top:-2px;
    fill: #1441EB;
}

/* =============================================== / Media Query Phone / ======================================================= */

@media (min-width: 320px) and (max-width: 480px) {
    .display-none {
        display: none !important;
    }
}

/* ================================================ / Media Query ipad / =================================================== */

@media (min-width: 768px) and (max-width: 1024px) {
}
