<app-header></app-header>
<div class="title-backgournd">
    <app-title heading1="Features" heading2="FEATURES"></app-title>
</div>
<div class="packages-plans pdtb-100">
    <div class="container-fluid">
        <div class="form_heding">
            <h1>OUR FEATURES</h1>
        </div>
        <div class="row">
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-1">
                            <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Easy to use</h2>
                            <p class="text">Easy to use on Mobile, Tab, Laptop or Computer.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-2">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Single login for multiple entity</h2>
                            <p class="text">Open multiple companies/entities/firm in single login</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-3">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Make Invoice easily</h2>
                            <p class="text">Make Invoice on the go and send it through WhatsApp or email.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-4">
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Access from anywhere</h2>
                            <p class="text">Maintain your accounts from any where in the world.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-5">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Work Simultaneously on multiple device</h2>
                            <p class="text">Maintain your accounts on multiple device at a same time.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-6">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Freedom from worry for loss of data</h2>
                            <p class="text">Cloud storage of data gives freedom from worry of mobile or device theft or format.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-7">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Maintain Stock on the go</h2>
                            <p class="text">Maintain stock of your company on the go from anywhere.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-8">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Quick access</h2>
                            <p class="text">Quick access to your data with easy login from mobile.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-9">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">See reports easily</h2>
                            <p class="text">See Reports & Ledger and send it through WhatsApp and email.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-2">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">No download</h2>
                            <p class="text">No need to download the data just login and use.</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="single-row">
                    <span>
                        <div class="icon-box color-1">
                            <i class="fa fa-files-o" aria-hidden="true"></i>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <h2 class="title">Generate GST Reports</h2>
                            <p class="text">Generate GSTR1, GSTR3B & GSTR9 easily in excel to send to your consultant. </p>
                        </div>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>