<div class="reviews">
    <div class="container">
        <div class="row row-bg">
            <div class="col-sm-5 first-col">
                <i class="fa fa-quote-right first-icon" aria-hidden="true"></i>
                <h2>Read What's The People Are Saying About Us</h2>
            </div>
            <div class="col-sm-7">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="slider-back">
                            <div class="discription">
                                <h4>“Perfect GST Invoice app for small and medium sized businesses. Also run on computer browser. Awesome. ”</h4>
                            </div>
                        </div>
                        <div class="review-comment">
                            <span>
                            <img src="assets/images/profile_new.jpg" class=" profile">
                            </span>
                            <span>
                                <h3> Vikram Bhatia <br><small>Vikram Bhatia</small></h3>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slider-back">
                            <div class="discription">
                                <h4>“Perfect GST Invoice app for small app for small app for small app for smallapp for small app for small and medium sized businesses. Also run on computer app for small app for small browser. Awesome. ”</h4>
                            </div>
                        </div>
                        <div class="review-comment">
                            <span><img src="assets/images/profile1.png" class=" profile"></span>
                            <span class="set-text">
                                <h3> Vikram Bhatia <br><small>Vikram Bhatia</small></h3>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slider-back">
                            <div class="discription">
                                <h4>“Perfect GST Invoice app for small and medium sized businesses. Also run on computer browser. Awesome. ”</h4>
                            </div>
                        </div>
                        <div class="review-comment">
                            <span><img src="assets/images/hand.png" class=" profile"></span>
                            <span class="set-text">
                                <h3> Vikram Bhatia <br><small>Vikram Bhatia</small></h3>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slider-back">
                            <div class="discription">
                                <h4>“Perfect GST Invoice app for small and medium sized businesses. Also run on computer browser. Awesome. ”</h4>
                            </div>
                        </div>
                        <div class="review-comment">
                            <span><img src="assets/images/profile_new.jpg" class=" profile"></span>
                            <span class="set-text">
                                <h3> Vikram Bhatia <br><small>Vikram Bhatia</small></h3>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slider-back">
                            <div class="discription">
                                <h4>“Perfect GST Invoice app for small and medium sized businesses. Also run on computer browser. Awesome. ”</h4>
                            </div>
                        </div>
                        <div class="review-comment">
                            <span><img src="assets/images/profile_new.jpg" class=" profile"></span>
                            <span class="set-text">
                                <h3> Vikram Bhatia <br><small>Vikram Bhatia</small></h3>
                            </span>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>