<app-user-header></app-user-header>
<div id="wrapper">
   <!-- Sidebar -->
   <app-user-menu></app-user-menu>
   <div id="content-wrapper" (click)="openbuyplaneModal()">
      <div class="container-fluid">
         <!-- Breadcrumbs-->
         <ol class="breadcrumb">
            <button  (click)="openLedgerAddModal(addtemplate)"  class="add-btn"><i class="fa fa-plus-circle" aria-hidden="true"></i> ADD LEDGER</button>
         </ol>
         <div class="ledger-form">
            <div class="container-fluid">
               <div class="loader_setAll">
                  <circle-progress *ngIf = "loader" [percent]="99" >
                  </circle-progress>
              </div>
               <form>
                  <div class="table-responsive tableFixHead" *ngIf = "!loader && ledgerList != ''">
                     <table class="table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
                     <thead class="table-header">
                        <tr>
                           <th>
                              <mfDefaultSorter by="name">Name</mfDefaultSorter>
                           </th>
                           <th>
                              <mfDefaultSorter by="account_group">Group</mfDefaultSorter>
                           </th>
                           <th>
                              <mfDefaultSorter by="opening_balance">Opening balance </mfDefaultSorter>
                           </th>
                           <th class="text-set">
                              <mfDefaultSorter by="amount">Dr. Amount</mfDefaultSorter>
                           </th>
                           <th class="text-set">
                              <mfDefaultSorter by="amount">Cr. Amount</mfDefaultSorter>
                           </th>
                           <th class="text-set">
                              <mfDefaultSorter by="action">Action</mfDefaultSorter>
                           </th>
                        </tr>
                     </thead>
                     
                     <tbody class="mb-20 table-body">
                        <tr *ngFor="let Ledger of ledgerList">
                           <td>{{Ledger?.name}}</td>
                           <td>{{Ledger?.account_group.name}}</td>
                           <td>{{Ledger?.opening_balance}}</td>
                           <td class="text-set"><span *ngIf="Ledger.opening_balance =='debit'">{{getType(Ledger.amount)}}</span></td>
                           <td class="text-set"><span  *ngIf="Ledger.opening_balance =='credit'">{{getType(Ledger.amount)}}</span></td>
                           <td class="text-set">
                              <button *ngIf="Ledger?.account_group.uid != '9fwgia7pqk3o3xzq0'" class="btn action-btn"  (click)="openLedgerEditModal(Edittemplate, Ledger)" rounded="true" data-toggle="modal">
                              <i class="fa fa-pencil-square-o action-icon" aria-hidden="true"></i></button>

                              
                              <button  *ngIf="Ledger?.account_group.uid == '9fwgia7pqk3o3xzq0'" [routerLink]="['/admin/closignvalue', Ledger.uid]" class="btn action-btn" rounded="true" data-toggle="modal">
                                 <i class="fa fa-pencil-square-o action-icon" aria-hidden="true"></i></button>


                              <button [ngClass]="Ledger?.account_group.uid == '9fwgia7pqk3o3xzq0' || Ledger.name == 'Round Off' || Ledger?.account_group.uid == '9fwgia7pqk3o3xzpz'?'display_set':'btn action-btn action-btn-two'" (click)="openLedgerDeleteModal(deletetemplate, Ledger)">
                              <i class="fa fa-trash action-icon" aria-hidden="true"></i></button>
                           </td>
                        </tr>
                     </tbody>
                     <tfoot>
                        <tr style="background-color: #ccc9c9b3;" class="font-bold-set">
                           <td colspan="2"></td>
                           <td>Total </td>
                           <td class="text-set">{{getType(debitsum)}}</td>
                           <td class="text-set">{{getType(Creditsum)}}</td>
                           <td></td>
                        </tr>
                        <tr style="background-color: #ccc9c9b3;" class="font-bold-set">
                           <td></td>
                           <td><span *ngIf="debitsum > Creditsum">Dr</span><span  *ngIf="debitsum < Creditsum">Cr</span></td>
                           <td>Difference in Opening Balance </td>
                           <td class="text-set"><span *ngIf="debitsum < Creditsum">{{getType(balancesum*(-1))}}</span><span  *ngIf="debitsum > Creditsum"></span></td>
                           <td class="text-set"><span *ngIf="debitsum < Creditsum"></span><span  *ngIf="debitsum > Creditsum">{{getType(balancesum)}}</span></td>
                           <td></td>
                        </tr>
                     </tfoot>
                     </table>   
                  </div>
               </form>
               <div class="Reports-error-msg"  *ngIf="!dataNotFount && ledgerList == ''">
                  <h4>No Data Found .</h4>
              </div>
            </div>
         </div>

         <!-- ================== ADD LEDGER MODAL =================== -->
         <ng-template #addtemplate>
            <div class="modal-header">
               <h4 class="modal-title">Add Ledger</h4>
               <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="ledger-form">
                  <form  [formGroup]="ledgerform" #LedgerForm="ngForm">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label for="Name">Name</label>
                           <input class="form-control" type="text" id="name"  formControlName="name"/>
                           <div class="validation-errors">
                              <ng-container *ngFor="let validation of validation_messages.name" >
                                 <div class="error-message" *ngIf="ledgerform.get('name').hasError(validation.type) && (ledgerform.get('name').dirty || ledgerform.get('name').touched)">
                                    {{ validation.message }}
                                 </div>
                              </ng-container>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label for="account_group">Account Group</label>
                           <ng-select  bindLabel="name" bindValue="uid"
                              placeholder="Select Account Group"
                              formControlName="account_group_id"
                              (change)="getAccountGroupid($event)"
                              appendTo="body"
                              [searchable]="true">
                              <ng-option  *ngFor="let AccountGroup of accountlist; let i = index" [value]="AccountGroup.uid">{{AccountGroup?.name}}</ng-option>
                              <ng-template ng-header-tmp>
                                 <div class="error-msg" (click)="openSubGroupmodal()">
                                    <h4>Create a New Sub Account Groups.</h4>
                                 </div>
                           </ng-template>
                           </ng-select>
                           <div class="validation-errors">
                              <ng-container *ngFor="let validation of validation_messages.account_group_id" >
                                 <div class="error-message" *ngIf="ledgerform.get('account_group_id').hasError(validation.type) && (ledgerform.get('account_group_id').dirty || ledgerform.get('account_group_id').touched)">
                                    {{ validation.message }}
                                 </div>
                              </ng-container>
                           </div>
                        </div>
                     </div>

                     <div class="col-sm-6 col-6">
                        <div class="form-group">
                           <label for="gst holder">GST Holder</label>
                           <div class="form-group">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" class="custom-control-input" id="true" (click)="gstshow(true)" value="true" name="is_gst" formControlName="is_gst" [checked]="is_gstshow==true" mdbInput>
                                 <label class="custom-control-label" for="true">Yes</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" class="custom-control-input" id="false" (click)="gstshow(false)"  name="is_gst" value="false" formControlName="is_gst"  [checked]="is_gstshow==false" mdbInput>
                                 <label class="custom-control-label" for="false">No</label>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div  *ngIf = "is_gstshow == true" class="col-12 col-sm-6">
                        <div class="form-group">
                           <label for="area">GST Number</label>
                           <input class="form-control" type="text" maxlength="15" formControlName="gst_number" />
                           <div class="validation-errors">
                              <ng-container *ngFor="let validation of validation_messages.gst_number" >
                                 <div class="error-message" *ngIf="ledgerform.get('gst_number').hasError(validation.type) && (ledgerform.get('gst_number').dirty || ledgerform.get('gst_number').touched)">
                                    {{ validation.message }}
                                 </div>
                              </ng-container>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <label for="amount">Opening Balance as on ({{activecompany['bookstart_date'] | date : 'dd-MMM-yyyy'}})</label>
                        <div class="row">
                           <div class="col-sm-5 col-6">
                              <div class="form-group">
                                 <input class="form-control" type="number" onkeyup="if(this.value<0){this.value= this.value * -1}" pattern="^\s*(?=.*[0-9]*)\d*(?:\.\d{1,2})?\s*$"  id="amount"  formControlName="amount"/>
                              </div>
                           </div>
                           <div class="col-sm-7 col-6">
                              <div class="form-group">
                                 <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="debit" formControlName="opening_balance" value="debit" name="opening_balance" mdbInput [checked]="true">
                                    <label class="custom-control-label" for="debit">Dr.</label>
                                 </div>
                                 <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="credit" formControlName="opening_balance"  name="opening_balance" value="credit" mdbInput>
                                    <label class="custom-control-label" for="credit">Cr.</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div *ngIf="selectedType == 'Bank (A)' || selectedType == 'Bank (L)'">
                     <div class="row">
                        
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label for="stateid">State</label>
                           <ng-select  bindLabel="name"
                                 placeholder="Select State"
                                 formControlName="state_id"
                                 appendTo="body"
                                 (change)="getCityList($event)"
                                 [searchable]="true">
                                 <ng-option *ngFor="let state of statelist; let i = index" [value]="state.id">{{state.name}}</ng-option>
                           </ng-select>
                       
                        </div>
                     </div>
                        <div  class="col-sm-6">
                           <div class="form-group">
                              <label for="account_holder_name">Account Holder Name</label>
                              <input class="form-control" type="text" id="account_holder_name" formControlName="account_holder_name"/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="bank_account_number">Bank Account Number</label>
                              <input class="form-control" type="text" maxlength="15" id="bank_account_number" formControlName="bank_account_number"/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="ifsc_code">IFSC</label>
                              <input class="form-control"  type="text" maxlength="11" id="ifsc_code" formControlName="ifsc"/>
                              <div class="validation-errors">
                                 <ng-container *ngFor="let validation of validation_messages.ifsc" >
                                    <div class="error-message" *ngIf="ledgerform.get('ifsc').hasError(validation.type) && (ledgerform.get('ifsc').dirty || ledgerform.get('ifsc').touched)">
                                       {{ validation.message }}
                                    </div>
                                 </ng-container>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="bank_name">Bank Name</label>
                              <input class="form-control" type="text" id="bank_name" formControlName="bank_name"/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="branch_name">Branch Name</label>
                              <input class="form-control" type="text" id="branch_name" formControlName="bank_branch"/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group  mt-30">
                              <div class="row">
                                 <div class="col-sm-5 col-5">
                                    <div class="form-group">
                                       <label for="default_bank">Default Bank</label>
                                    </div>
                                 </div>
                                 <div class="col-sm-7 col-7">
                                    <div class="form-group">
                           
                                       <mat-radio-group aria-label="Select an option"  formControlName="is_default_bank">
                                          <mat-radio-button style="margin-right: 50px;" value="true" >Yes</mat-radio-button>
                                          <mat-radio-button value="false" [checked]="true" >No</mat-radio-button>
                                       </mat-radio-group>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div  *ngIf="selectedType == 'Purchase Accounts'  || selectedType == 'Sales Accounts'" class="purchase">
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="branch_name">Tax slab</label>
                              <select class="form-control" formControlName="taxes_slab_id" >
                                 <option *ngFor="let taxes of taxelist; let i = index" value="{{taxes.id}}">{{taxes.title}}</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group  mt-30">
                              <div class="row">
                                 <div class="col-sm-5 col-5">
                                    <div class="form-group">
                                       <label for="purchasesaller">Purchase Saller</label>
                                    </div>
                                 </div>
                                 <div class="col-sm-7 col-7">
                                    <div class="form-group">
                                       <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" class="custom-control-input" id="local"  value="local" name="state_status" formControlName="state_status" mdbInput [checked]="true">
                                          <label class="custom-control-label" for="local">Local</label>
                                       </div>
                                       <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" class="custom-control-input" id="outersat"   name="state_status" value="outersat" formControlName="state_status" mdbInput>
                                          <label class="custom-control-label" for="outersat">Outer State</label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div  *ngIf="selectedType == 'Capital Account' || selectedType == 'Sundry Debtors' || selectedType == 'Sundry Creditors'" class="capita_account">
                     <div class="row">
                        
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label for="stateid">State</label>
                           <ng-select  bindLabel="name"
                                 placeholder="Select State"
                                 formControlName="state_id"
                                 appendTo="body"
                                 (change)="getCityList($event)"
                                 [searchable]="true">
                                 <ng-option *ngFor="let state of statelist; let i = index" [value]="state.id">{{state.name}}</ng-option>
                           </ng-select>
                          
                           
                        </div>
                     </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="number">Phone Number</label>
                              <input class="form-control" (keypress)="numberOnly($event)" minlength="10" maxlength="10" type="text" id="number"  formControlName="phone_number"/>
                              <div class="validation-errors">
                               <ng-container *ngFor="let validation of validation_messages.phone_number">
                                   <div class="error-message" *ngIf="ledgerform.get('phone_number').hasError(validation.type) && (ledgerform.get('phone_number').dirty || ledgerform.get('phone_number').touched)">
                                       {{ validation.message }}
                                   </div>
                               </ng-container>
                           </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="email">Email</label>
                              <input class="form-control" type="email" id="email"  formControlName="email"/>
                              <div class="validation-errors">
                               <ng-container *ngFor="let validation of validation_messages.email">
                                   <div class="error-message" *ngIf="ledgerform.get('email').hasError(validation.type) && (ledgerform.get('email').dirty || ledgerform.get('email').touched)">
                                       {{ validation.message }}
                                   </div>
                               </ng-container>
                           </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="cinnumber">CIN Number</label>
                              <input class="form-control" type="text" id="cinnumber"  formControlName="cin_number"/>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="website">Website</label>
                              <input class="form-control" type="text" id="website"  formControlName="website"/>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="jurisdiction">Jurisdiction</label>
                              <input class="form-control" type="text" id="jurisdiction"  formControlName="jurisdiction"/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="address">Address</label>
                              <textarea class="form-control rounded-0" formControlName="street" rows="3"></textarea>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div  *ngIf="selectedType == 'Taxes'" class="taxes">
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group mt-30">
                              <div class="row">
                                 <div class="col-sm-7 col-7">
                                    <div class="form-group">
                                       <label for="cess">Cess</label>
                                    </div>
                                 </div>
                                 <div class="col-sm-5 col-5">
                                    <div class="form-group">
                                       <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" class="custom-control-input" id="yes" (click)="show(true)" value="yes" name="cess" formControlName="cess" mdbInput>
                                          <label class="custom-control-label" for="yes">Yes</label>
                                       </div>
                                       <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" class="custom-control-input" id="no" (click)="show(false)"  name="cess" value="no" formControlName="cess" [checked]="true" mdbInput>
                                          <label class="custom-control-label" for="no">No</label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="branch_name" >Tax slab</label>
                              <select class="form-control" formControlName="taxes_slab_id"  >
                                 <option *ngFor="let taxes of taxelist; let i = index" value="{{taxes.id}}">{{taxes.title}}</option>
                              </select>
                           </div>
                        </div>
                        <div *ngIf = "cessblock == true" class="col-sm-6">
                           <div class="form-group">
                              <label for="tax">Tax</label>
                              <input class="form-control" type="text" id="cess_tax" formControlName="cess_tax"/>
                           </div>
                        </div>
                     </div>
                  </div>
                  </form>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn footer-btn"  [disabled]="!ledgerform.valid"  (click)="addledger()">ADD LEDGER</button>
               <button class="btn footer-btn"  (click)="modalRef.hide()">CANCEL</button>
            </div>
         </ng-template>
         <!-- ================== EDIT LEDGER MODAL =================== -->
         <ng-template #Edittemplate>
            <div class="modal-header">
               <h4 class="modal-title">Edit Ledger</h4>
               <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="ledger-form">
                  <form  [formGroup]="ledgerform" #LedgerForm="ngForm">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label for="Name">Name</label>
                           <input [ngClass]="ROund_OFF_SHOW == 'Round Off'?'disabled form-control':'form-control'" type="text" id="name"  formControlName="name"/>
                           <div class="validation-errors">
                              <ng-container *ngFor="let validation of validation_messages.name" >
                                 <div class="error-message" *ngIf="ledgerform.get('name').hasError(validation.type) && (ledgerform.get('name').dirty || ledgerform.get('name').touched)">
                                    {{ validation.message }}
                                 </div>
                              </ng-container>
                           </div>
                        </div>
                     </div>

                     <div class="col-sm-6 col-6">
                        <div class="form-group">
                           <label for="gst holder">GST Holder</label>
                           <div class="form-group">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" class="custom-control-input" id="true" (click)="gstshow(true)" value="true" name="is_gst" formControlName="is_gst" [checked]="is_gstshow==true" mdbInput>
                                 <label class="custom-control-label" for="true">Yes</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" class="custom-control-input" id="false" (click)="gstshow(false)"  name="is_gst" value="false" formControlName="is_gst"  [checked]="is_gstshow==false" mdbInput>
                                 <label class="custom-control-label" for="false">No</label>
                              </div>
                           </div>
                        </div>
                     </div>


                     <div  *ngIf = "is_gstshow == true" class="col-12 col-sm-6">
                        <div class="form-group">
                           <label for="area">GST Number</label>
                           <input class="form-control" type="text" maxlength="15" formControlName="gst_number" />
                           <div class="validation-errors">
                              <ng-container *ngFor="let validation of validation_messages.gst_number" >
                                 <div class="error-message" *ngIf="ledgerform.get('gst_number').hasError(validation.type) && (ledgerform.get('gst_number').dirty || ledgerform.get('gst_number').touched)">
                                    {{ validation.message }}
                                 </div>
                              </ng-container>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <label for="opening_balance">Opening Balance as on ({{activecompany['bookstart_date'] | date : 'dd-MMM-yyyy'}})</label>
                        <div class="row">
                           <div class="col-sm-5 col-6">
                              <div class="form-group">
                                 <input class="form-control" type="number" onkeyup="if(this.value<0){this.value= this.value * -1}" pattern="^\s*(?=.*[0-9]*)\d*(?:\.\d{1,2})?\s*$"  id="amount"  formControlName="amount"/>
                              </div>
                           </div>
                           <div class="col-sm-7 col-6">
                              <div class="form-group">
                                 <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="debit" formControlName="opening_balance" value="debit" name="opening_balance" mdbInput>
                                    <label class="custom-control-label" for="debit">Dr.</label>
                                 </div>
                                 <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="credit" formControlName="opening_balance"  name="opening_balance" value="credit" mdbInput>
                                    <label class="custom-control-label" for="credit">Cr.</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                
                  <div *ngIf="selectedType == 'Bank (A)' || selectedType == 'Bank (L)'">
                     <div class="row">
                        
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label for="stateid">State</label>
                           <ng-select  bindLabel="name"
                                 placeholder="Select State"
                                 formControlName="state_id"
                                 appendTo="body"
                                 (change)="getCityList($event)"
                                 [searchable]="true">
                                 <ng-option *ngFor="let state of statelist; let i = index" [value]="state.id">{{state.name}}</ng-option>
                           </ng-select>
                          
                           
                        </div>
                     </div>
                        <div  class="col-sm-6">
                           <div class="form-group">
                              <label for="account_holder_name">Account Holder Name</label>
                              <input class="form-control" type="text" id="account_holder_name" formControlName="account_holder_name"/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="bank_account_number">Bank Account Number</label>
                              <input class="form-control" type="text" maxlength="15" id="bank_account_number" formControlName="bank_account_number"/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="ifsc_code">IFSC</label>
                              <input class="form-control"  type="text" maxlength="11" id="ifsc_code" formControlName="ifsc"/>
                              <div class="validation-errors">
                                 <ng-container *ngFor="let validation of validation_messages.ifsc" >
                                    <div class="error-message" *ngIf="ledgerform.get('ifsc').hasError(validation.type) && (ledgerform.get('ifsc').dirty || ledgerform.get('ifsc').touched)">
                                       {{ validation.message }}
                                    </div>
                                 </ng-container>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="bank_name">Bank Name</label>
                              <input class="form-control" type="text" id="bank_name" formControlName="bank_name"/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="branch_name">Branch Name</label>
                              <input class="form-control" type="text" id="branch_name" formControlName="bank_branch"/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group  mt-30">
                              <div class="row">
                                 <div class="col-sm-5 col-5">
                                    <div class="form-group">
                                       <label for="default_bank">Default Bank</label>
                                    </div>
                                 </div>
                                 <div class="col-sm-7 col-7">
                                    <div class="form-group">
                                       <mat-radio-group aria-label="Select an option"  formControlName="is_default_bank">
                                          <mat-radio-button style="margin-right: 50px;" value="true" >Yes</mat-radio-button>
                                          <mat-radio-button value="false" >No</mat-radio-button>
                                       </mat-radio-group>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div  *ngIf="selectedType == 'Purchase Accounts'  || selectedType == 'Sales Accounts'" class="purchase">
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="branch_name">Tax slab</label>
                              <select class="form-control" formControlName="taxes_slab_id" >
                                 <option *ngFor="let taxes of taxelist; let i = index" value="{{taxes.id}}">{{taxes.title}}</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group  mt-30">
                              <div class="row">
                                 <div class="col-sm-5 col-5">
                                    <div class="form-group">
                                       <label for="purchasesaller">Purchase Saller</label>
                                    </div>
                                 </div>
                                 <div class="col-sm-7 col-7">
                                    <div class="form-group">
                                       <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" class="custom-control-input" id="local"  value="local" name="state_status" formControlName="state_status" mdbInput [checked]="true">
                                          <label class="custom-control-label" for="local">Local</label>
                                       </div>
                                       <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" class="custom-control-input" id="outersat"   name="state_status" value="outersat" formControlName="state_status" mdbInput>
                                          <label class="custom-control-label" for="outersat">Outer State</label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div  *ngIf="selectedType == 'Capital Account' || selectedType == 'Sundry Debtors' || selectedType == 'Sundry Creditors'" class="capita_account">
                     <div class="row">
                        
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label for="stateid">State</label>
                           <ng-select  bindLabel="name"
                                 placeholder="Select State"
                                 formControlName="state_id"
                                 appendTo="body"
                                 (change)="getCityList($event)"
                                 [searchable]="true">
                                 <ng-option *ngFor="let state of statelist; let i = index" [value]="state.id">{{state.name}}</ng-option>
                           </ng-select>
                      
                           
                        </div>
                     </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="number">Phone Number</label>
                              <input class="form-control" (keypress)="numberOnly($event)" minlength="10" maxlength="10" type="text" id="number"  formControlName="phone_number"/>
                              <div class="validation-errors">
                               <ng-container *ngFor="let validation of validation_messages.phone_number">
                                   <div class="error-message" *ngIf="ledgerform.get('phone_number').hasError(validation.type) && (ledgerform.get('phone_number').dirty || ledgerform.get('phone_number').touched)">
                                       {{ validation.message }}
                                   </div>
                               </ng-container>
                           </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="email">Email</label>
                              <input class="form-control" type="email" id="email"  formControlName="email"/>
                              <div class="validation-errors">
                               <ng-container *ngFor="let validation of validation_messages.email">
                                   <div class="error-message" *ngIf="ledgerform.get('email').hasError(validation.type) && (ledgerform.get('email').dirty || ledgerform.get('email').touched)">
                                       {{ validation.message }}
                                   </div>
                               </ng-container>
                           </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="cinnumber">CIN Number</label>
                              <input class="form-control" type="text" id="cinnumber"  formControlName="cin_number"/>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="website">Website</label>
                              <input class="form-control" type="text" id="website"  formControlName="website"/>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="jurisdiction">Jurisdiction</label>
                              <input class="form-control" type="text" id="jurisdiction"  formControlName="jurisdiction"/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="adress">Address</label>
                              <textarea class="form-control rounded-0" formControlName="street" rows="3"></textarea>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div  *ngIf="selectedType == 'Taxes'" class="taxes">
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group mt-30">
                              <div class="row">
                                 <div class="col-sm-6 col-6">
                                    <div class="form-group">
                                       <label for="cess">Cess</label>
                                    </div>
                                 </div>
                                 <div class="col-sm-6 col-6">
                                    <div class="form-group">
                                       <div class="form-group">
                                          <div class="custom-control custom-radio custom-control-inline">
                                             <input type="radio" class="custom-control-input" id="yes" (click)="show(true)" value="yes" name="cess" formControlName="cess" [checked]="cessblock==true" mdbInput>
                                             <label class="custom-control-label" for="yes">Yes</label>
                                          </div>
                                          <div class="custom-control custom-radio custom-control-inline">
                                             <input type="radio" class="custom-control-input" id="no" (click)="show(false)"  name="cess" value="no" formControlName="cess"  [checked]="cessblock==false" mdbInput>
                                             <label class="custom-control-label" for="no">No</label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div  class="col-sm-6">
                           <div class="form-group">
                              <label for="branch_name" >Tax slab</label>
                              <select class="form-control" formControlName="taxes_slab_id"  >
                                 <option *ngFor="let taxes of taxelist; let i = index" value="{{taxes.id}}">{{taxes.title}}</option>
                              </select>
                           </div>
                        </div>
                        <div *ngIf = "cessblock == true" class="col-sm-6">
                           <div class="form-group">
                              <label for="tax">Tax</label>
                              <input class="form-control" type="text" id="cess_tax" formControlName="cess_tax"/>
                           </div>
                        </div>
                     </div>
                  </div>
                  </form>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn footer-btn" [disabled]="!ledgerform.valid" (click)="editledger()">SAVE</button>
               <button class="btn footer-btn"  (click)="modalRef.hide()">CANCEL</button>
            </div>
         </ng-template>
         <!-- ================== DELETE LEDGER MODAL ================== -->
         <ng-template #deletetemplate>
            <div class="modal-header">
               <h4 class="modal-title">CONFIRMATION</h4>
               <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body delete-modal">
               <h1>Are You Sure Want to Delete This Ledger ?</h1>
            </div>
            <div class="modal-footer">
               <button class="btn footer-btn"  (click)="deleteledger(deleteData)">YES</button>
               <button class="btn footer-btn" (click)="modalRef.hide()">NO</button>
            </div>
         </ng-template>
      </div>
      <!-- /.container-fluid -->
   </div>
   <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
<app-user-footer></app-user-footer>
