.amount-width{
    width: 60%;
}
::ng-deep span.ng-clear-wrapper.ng-star-inserted {
    display: none !important;
}
.font-bold-set{
    font-family: 'Gilroy-ExtraBold';
}
.round_disable{
    pointer-events: none;
}
.add-more-btn {
    font-family:'Gilroy-Light';
    display: block;
    background-color: #30304b;
    color: #ccc0c0 !important;
    padding: 5px 8px !important;
    font-size: 12px;
    float: right;
    text-transform: capitalize;
    border: none;
    letter-spacing: 0.8px;
    border-radius: 8px;
}
.display_set{
    display: none;
}
/* .name_disable{

} */